.shop-submenu {
  width: 10rem;
  position: absolute;
  top: 110px;
  list-style: none;
  text-align: start;
}

.shop-submenu li {
  cursor: pointer;
  background-color: #bd0a0af5;
  color: #bd0a0af5;
}

.shop-submenu li a:hover {
  background-color: #bd0a0af5;
  color: white;
}

.shop-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}
