.navbar {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  padding-bottom: 10px;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 40vw;
  justify-content: flex-start;
  margin-right: 5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 15vh;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 6px 16px;
  border-radius: 5px;
}

.nav-item a:hover {
  background: #bd0a0af5;
  color: white;
}
